@use "../utils" as *;

.button {
  cursor: pointer;
  border: 0;
  background: transparent;
  @include paddingX(16px);
  border-radius: rem(4px);
  font-size: rem(14px);

  &--fill {
    color: $white;
    background: $brown;
  }

  &--outline {
    color: $brown;
    border: 1px solid currentColor;
  }
}

// 햄버거 버튼
.button--burger {
  @include mobile {
    @include pos;
    width: rem(36px);
    height: rem(36px);
    background: transparent;
    border: 0;
    padding: 0;
    top: rem(65px);
    right: rem(24px);

    &BarTop,
    &BarMiddle,
    &BarBottom {
      background: $white;
      width: 100%;
      height: 20%;
      border-radius: rem(10px);
      left: 0;
    }

    &BarTop {
      @include posLeftTop;
    }
    &BarMiddle {
      @include posCenterY;
    }
    &BarBottom {
      @include posBottomY;
    }
  }
  @include desktop {
    display: none;
  }
}
